body {
  text-align: center;
}

#color-palette {
  display: inline-block;
}

.color {
  border: black solid 1px;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.black {
  background-color: black;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.green{
  background-color: green;
}

#pixel-board {
  padding: 0;
  margin: auto;
  background-color: white;
  width: 210px;
  border-spacing: 0;
  border-collapse: collapse; 
}

.pixel {
  padding: 0;
  margin: 0;
  display: inline-block;
  background-color: white;
  width: 40px;
  height: 40px;
  border: solid black 1px;
  border-spacing: 0;
}
