body {
  text-align: center;
}

#color-palette {
  display: block;
}

.color {
  border: black solid 1px;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.black {
  background-color: black;
}

.shadow {
  box-shadow: 2px 2px rgba(119, 73, 73, 0);
}

#pixel-board {
  padding: 0;
  margin: auto;
  line-height: 0px;
  border-spacing: 0;
  border-collapse: collapse;
}

.pixel {
  padding: 0;
  display: inline-block;
  background-color: white;
  width: 40px;
  height: 40px;
  border: solid black 1px;
  border-spacing: 0;
  margin: -1px;
}
